.~*
.build
.cache/
.fuse_hidden*
.qmake.stash
.tmp_versions/
.vs
.vscode
.*.swo
.*.swp


*.a
*.aux
*.bk
*.bak
*.cmd
*.d
!conf.d
!init.d
!profile.d
*.dat
*.debug.pri
*.dtb
*.dtbo
*.elf
*.fdb_latexmk
*.fls
*.i
*.ko
*.lib
*.log
*.mod
*.mod.c
*.o
*.obj
*.pb.cc
*.pb.h
*.pdb
*.plist
*.priv.*
*.pyc
*.so
*.so.*
*.synctex.gz
*.tmp
*.toc
*_pb2.py


CMakeCache.txt
CMakeFiles
Module.symvers
a.out
bin/
cmake_install.cmake
compile_commands.json
core.*
cscope.files
cscope.in.out
cscope.out
cscope.po.out
gccdump.s
log/
logs/
moc_*.h
moc_*.cpp
modules.order
obj/
QtMakefile
tags
ui_*.h


lazy_coding
lazy_coding_skills
buildroot.mk
c_and_cpp.mk
checkout.git.mk
checkout.svn.mk
linux_driver.mk
linux_kernel.mk
stm32_cube_ide.mk
stm32_extra.mk
stm32f1x_extra.mk
u-boot.mk
__ver__.mk


<stdin>.s


_tmp_
__pycache__


custom_*.json

